*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(23, 18, 18);
    font: size 24px;
    color: white;
    overflow-x: hidden;
}
.gradient-text{
    -webkit-background-clip: text;
    @apply bg-gradient-to-t from-blue-500 to-cyan-500 text-transparent;
}
/* Container for the image and ellipses */
.relative {
  position: relative;
}
.container {
  max-width: 100%;
}

@media (max-width: 768px) {
.container {
  padding-left: 16px;
  padding-right: 16px;
}
}
@keyframes glitch {
    0% {
      transform: skew(0.3deg);
      text-shadow: 2px 2px 0 red, -2px -2px 0 blue;
    }
    20% {
      transform: skew(0.1deg);
      text-shadow: -2px -2px 0 red, 2px 2px 0 blue;
    }
    40% {
      transform: skew(0.2deg);
      text-shadow: 2px 2px 0 red, -2px -2px 0 blue;
    }
    60% {
      transform: skew(0.3deg);
      text-shadow: -2px -2px 0 red, 2px 2px 0 blue;
    }
    80% {
      transform: skew(0.1deg);
      text-shadow: 2px 2px 0 red, -2px -2px 0 blue;
    }
    100% {
      transform: skew(0.3deg);
      text-shadow: -2px -2px 0 red, 2px 2px 0 blue;
    }
  }
  
  .glitch {
    position: relative;
    display: inline-block;
    animation: glitch 5.5s infinite linear alternate-reverse;
  }
  
  .animate-glitch {
    animation: glitch 5.5s infinite linear alternate-reverse;
  }
  