@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(23, 18, 18);
    font-size: 24px;
    color: white;
    overflow-x: hidden;
}
.gradient-text{
    -webkit-background-clip: text;
    @apply bg-gradient-to-t from-blue-500 to-cyan-500 text-transparent;
}

/* Container for the image and ellipses */
.relative {
  position: relative;
}
.container {
  max-width: 100%;
}

@media (max-width: 768px) {
.container {
  padding-left: 16px;
  padding-right: 16px;
}
}
  /* Custom blur and background transparency */
nav {
  background: rgba(12, 12, 12, 0.7); 
}

nav.backdrop-blur-md {
  backdrop-filter: blur(10px);
}
